#reply-control .reply-to .whisper-hint {
  margin: 0 0 0 1em;
  padding: 2px 8px;
  font-size: var(--font-down-2);
  border-radius: 10px;
  opacity: 0.75;

  .d-icon {
    margin-right: 4px;
    color: inherit;
  }

  &.whispering {
    color: var(--tertiary);
    background-color: var(--tertiary-low);
    box-shadow: 0 0 0 2px var(--tertiary-medium);
  }

  &.public {
    color: #7a5800;
    background-color: gold;
    box-shadow: 0 0 0 2px #b8860b;
  }
}
