#reply-control .reply-to .whisper-hint {
  margin: 0 0 0 1em;
  padding: 2px 8px;
  font-size: var(--font-down-2);
  border-radius: 10px;

  .d-icon {
    margin-right: 4px;
  }

  &.whispering {
    color: $whisper_text_color;
    background-color: $whisper_bg_color;
    box-shadow: 0 0 0 2px $whisper_border_color;
    opacity: 0.75;

    .d-icon {
      color: $whisper_text_color;
    }
  }

  &.public {
    color: $public_text_color;
    background-color: $public_bg_color;
    box-shadow: 0 0 0 2px $public_border_color;
    opacity: 0.75;

    .d-icon {
      color: $public_text_color;
    }
  }
}
